<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="memberDAO" class="com.epoint.webapp.dao.impl.MemberDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="ventureChecklistDAO" class="com.epoint.webapp.dao.impl.VentureChecklistDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- <bean id="mapSubclassDAO" class="com.epoint.webapp.dao.impl.MapSubclassDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean> -->
	
	<bean id="payMoneyDAO" class="com.epoint.webapp.dao.impl.PayMoneyDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="payItemDAO" class="com.epoint.webapp.dao.impl.PayItemDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="productDAO" class="com.epoint.webapp.dao.impl.ProductDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="financialPlanDAO" class="com.epoint.webapp.dao.impl.FinancialPlanDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>