/* mobile */
@media only screen and (max-width: 480px) {
	.ventureBox,.ventureBoxLocked{padding: 15px;}
	.progressDescribe{width: 35%;margin-left: 1em;}
	.progressDescribe h3{margin-top: 1.3em;}
	.progressDescribe p{display: none;}
	
	/*helpLink彈出視窗 */
		.reveal-modal {
			width: 290px;
			margin-left: -145px;
			top:20px;
			}
			
		/* Modal Body */
		.reveal-modal .cont {
			padding: 15px 0;
			width:250px;
			margin:0 auto;
			}
			
	/*//helpLink彈出視窗 */

	.hideBlock{display: none;}	
	.memberRwdnav{display: block;}
	
	.form-control2{width:127px;font-size: 12px;}
	
	.step,.stepLocked{margin: 3em 0 0 0;}

	.ventureTypesInput textarea{width:92%;}
	.top-nav-left li.showBlock{display: block; }
}

/* mobile to Tablets */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	/* helpLink彈出視窗 */
	.reveal-modal {
		width: 370px;
		margin-left: -185px;
		margin-top: 50px;
		}
	/*//helpLink彈出視窗 */

	.hideBlock{display: none;}	
	.memberRwdnav{display: block;}
	
	.step,.stepLocked{height: 34em;margin: 3em 0 0 0;}
	.top-nav-left li.showBlock{display: block; }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	.hideBlock{display: none;}	
	.memberRwdnav{display: block;}
	.step,.stepLocked{height: 37em;margin: 3em 0 0 0;}

	.top-nav-left li.showBlock{display: block; }
	
}

/* Desktop */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.top-nav-right.hideBlock{display: none;}	
}
/* under 1199px use this */
@media only screen and (max-width: 1199px) {
	/* navbar */
	.top-nav-left span.menu {
		padding: 0;
		display: block;
		width: 100%;
		position: relative;
	}
	.top-nav-left {
		float: right;
		margin: 1em 0 0 1em;
	}
	.logo{margin-top: 1em;}
	.logo img {
		background-size: 100%;
		max-width: 180px;
/*		width: 125px;
		height: 29px;*/
	}
	.top-nav-left ul {
		display: none;
		background: rgba(232, 169, 46, .6);
		position: absolute;
		width: 100%;
		z-index: 999;
		left: 0%;
		margin: 0.7em 0em;
	}
	.top-nav-left ul li {
		display: block;
		float: none;
		margin: 0em;
		padding: 0.6em 0;
		text-align: center;
	}
	.top-nav-left ul li a{
		color:#fff;
	}
	.top-nav-left ul li a:hover{
		color:#000;
	}
	.top-nav-right {
		margin: 1em 0px;
	}
	.loginDropdown  {top:35px;}
	#loginButton span{
		padding: 7px 20px;
	}
	/*//_navbar */
}